page-driver-agreement {
    canvas {
        display: block;
        border: 1px solid rgb(187, 178, 178);
    }
    .color-block {
        height: 40px;
    }
    .dashboard-content {
        background: #2E425A;
    }
    .user-heading{
        text-align: center;
        color: floralwhite;
        font-size: xx-large;
    }
    p{
        padding: 20px;
    }
    .date-text{
        color: #fff;
        font-weight:bolder;
    }
    .wht-box {
        margin: 0px;
        height: 47px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border: 1px solid #fff;
        text-transform: uppercase;
      }
    .center-box .box-bt {
        color: #ffff;
        font-size: 20px;
        box-shadow: none;
        margin-bottom: 20px;
        border: 2px solid #fff;
        text-transform: uppercase;
        background-color: transparent;
      }
    
      .book-ride-btn {
        padding: 25px;
        width: 85%;
        margin: 0 auto;
      }
      .service-heading{
          text-align: center;
          font-weight: bold;
          padding-top: 10px;
      }
}
