<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="top-margin" padding>
  <div *ngIf="activate">
    <ion-row class="top-margin-2">
      <button class="login-btn-bl" ion-button block (click)="activateAccount()">Activate Account</button>
    </ion-row>
  </div>

  <div *ngIf="deactivate">
    <ion-row  class="top-margin-2">
      <button class="login-btn-bl" ion-button block (click)="deactivateAccount()">Deactivate Account</button>
    </ion-row>
  </div>


  <ion-row class="top-margin-2">
    <button class="login-btn-bl" ion-button block (click)="login()">Delete Account</button>
  </ion-row>

  <ion-row class="top-margin-2">
    <button class="login-btn-bl" ion-button block (click)="login()">Email APP support</button>
  </ion-row>
</ion-content>
