page-sharescreen {
    .top-margin{
		margin-top: 15%;
    }
    .top-margin-2{
		margin-top: 5%;
    }
    .my-icon{
        margin-right: 20px;
    }
    .user-input-wrap {
		color: #fff;
		margin-bottom: 15px;
		background-color: #327496;
		.item-inner {
			border-bottom: none!important;
		}
		.icon-label {
			width: 50px;
			text-align: center;
			color: #fff!important;
		}
	}
	.login-btn-bx {
        padding: 23px;
        box-shadow: none;
		margin-bottom: 20px;
        border: 2px solid #fff;
		
	}
	.fb{
		background-color: #395694;
	}
	.wa{ 
		background-color: #25D366;
	}
	.ka{ 
		background-color: #f2dc31;
	}
	.we{ 
		background-color: #67D86B;
	}
	.tw{ 
		background-color:transparent;
	}
}
