.text-input::-moz-placeholder {
	color: white;
	font-weight: 500;
}

.text-input:-ms-input-placeholder {
	color: white;
	font-weight: 500;
}

.text-input::-webkit-input-placeholder {
	text-indent: 0;
	color: white;
	font-weight: 500;
}

.i-header-text-and-back-btn {
	.toolbar-content {
		display: flex;
	}
	.i-back-btn {
		background-color: transparent;
		box-shadow: none;
		font-size: 19px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.title {
		.toolbar-title {
			// font-size: 17px;
			// text-align: left;
		}
	}
}

.app-menu-wrap {
	.passenger-profile-wrap {
		display: flex;
		padding: 20px 10px;
		align-items: center;
		background-color: #a5d7e8;
		.img-box {
			width: 40%;
		}
		.avatar-img{
			width: 84px;
			height: 84px;
			border-radius: 50%;
		}
		.name-box {
			width: 60%;
		}
		.avatar-name{
			color: #000;
			font-weight: bold;
			margin-left: 10px;
			display: inline-block;
			text-transform: uppercase;
			border-bottom: 2px solid #000;
		}
	}
	.menu-inner {
		width: 230px;
	}
	.menu-btn-list {
		background-color: transparent;
		color: #fff;
		font-size: 20px;
		text-transform: capitalize;
		padding: 0px;
		letter-spacing: 1px;
		padding-right: 15px;
		font-weight: 500;
	}
	.menu-btn-list .label {
		margin-left: 30px;
	}
	.menu-btn-list .item-inner {
		border-bottom: 1px solid #FFFFFF;
		background-image: none!important;
	}
	.menu-btn-list:last-child .item-inner {
		border-bottom: 1px solid #FFFFFF;
	}
}