page-signature {
    .scroll-content{
        // margin-top:0px!important;
    }
    .head{
        padding: 10px;
        text-align: center;
    }
    .center-box .box-bt {
        color: #ffff;
        font-size: 20px;
        box-shadow: none;
        margin-bottom: 20px;
        border: 2px solid #fff;
        text-transform: uppercase;
        background-color: transparent;
      }
    
      .book-ride-btn {
        padding: 25px;
        width: 85%;
        margin: 0 auto;
      }
      .signature--box--wrap{
          position: relative;
          width: 100%;
      }
}
